# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp/
temp/
*.tmp

# Build directories
dist/
build/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db
